/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }




/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }


/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }



  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -15px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -15px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -15px; }
  [dir="rtl"] .slick-next {
    left: -15px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }


/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: 20px;/**/
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: #e6e6e6;/*not ing*/
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color:#888;/*ing*/
      opacity: 0.75; }




/* Arrows V */
.vslick-prev,
.vslick-next {
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: green;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .vslick-prev:hover, .slick-prev:focus,
  .vslick-next:hover,
  .vslick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .vslick-prev:hover:before, .vslick-prev:focus:before,
    .vslick-next:hover:before,
    .vslick-next:focus:before {
      opacity: 1; }
  .vslick-prev.vslick-disabled:before,
  .vslick-next.vslick-disabled:before {
    opacity: 0.25; }
  .vslick-prev:before,
  .vslick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.vslick-prev {
  top: 0px; }
  [dir="rtl"] .vslick-prev {
    left: auto;
    right: -25px; }
  .vslick-prev:before {
    content: "←"; }
    [dir="rtl"] .vslick-prev:before {
      content: "→"; }

.vslick-next {
  right: -25px; }
  [dir="rtl"] .vslick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .vslick-next:before {
      content: "←"; }

/*------------------------------------*\
  首頁大banner & 輪播圖X3
\*------------------------------------*/
.homeSlide { width: 100%;}
.homeSlide img { width: 100%; }
@media(min-width:767px){
.homeSlide_mo {  display:none; }
}
@media(max-width:768px){
.homeSlide { display:none; }
.homeSlide_mo { width: 100%; }
.homeSlide_mo img { width: 100%; }
}

/*輪播圖X3*/
.carousel { 
  width:96%; 
  margin:40px 2%;
   }
.carousel .pdsbox { 
  margin: 0 5px; 
}
.carousel .slick-prev, .carousel .slick-next {
  z-index: 2; 
  width: 13px; 
  height: 25px; }
.carousel .slick-prev:before, .carousel .slick-next:before {
  display: none;
  }
.carousel .slick-prev { 
  background: url(../images/left-arrow.png) no-repeat 0 0;
   }
.carousel .slick-next {
 background: url(../images/right-arrow.png) no-repeat 0 0;
}
.pdsbox img { 
  width: 100%;
   }
.pdbox_tx { text-decoration: font-size: 0.8em; text-align: center;}
.pdbox_tx a { color:#211c1a; text-decoration:none; }

@media(max-width:1024px){
.carousel { width:90%; margin:40px  5%; }
}




.test { width:25%; margin:0 auto; }
.test p .slick-next { z-index: 2; width: 13px; height: 25px; }

.vslick .pdbox { margin: 0 5px; }
.vslick .slick-prev, .vslick .slick-next { z-index: 2; width: 13px; height: 25px; color:green;}
.vslick .slick-prev:before, .vslick .slick-next:before { display: none; }
.vslick .slick-prev { background: url(../images/left-arrow.png) no-repeat 0 0; }
.vslick .slick-next { background: url(../images/left-arrow.png) no-repeat 0 0;
 -webkit-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 -o-transform: rotate(180deg);
 transform: rotate(180deg);}

.vslick img { width: 100%; }
.pdbox_tx { text-decoration: font-size: 0.8em; text-align: center;}
.pdbox_tx a { color:#211c1a; text-decoration:none; }

.vslick p{ text-align: center; }

.vslick .slick-prev:before, .vslick .slick-next:before { display: none; }


.vslick .pdbox2 { margin: 0 5px; }